---
import camelcaseKeys from "camelcase-keys";
import Layout from '../layouts/Layout.astro';
import Breadcrumbs from '../components/Breadcrumbs.vue';

const { slug } = Astro.params;
const response = await fetch(`https://schoolleaders.thekeysupport.com/api/v2/pages/with-path/${slug}/`);
const data = await response.json();
const page = camelcaseKeys(data, { deep: true });

---

<Layout title="Welcome to Astro.">
	<main>
    <Breadcrumbs currentPage={page} breadcrumbs={page.breadcrumbs} />

		<h1>{page.title}</h1>
		<h2>{page.abstract}</h2>
    <a href="/">Home</a>
	</main>
</Layout>

<style>
</style>